.boards {
    background: white;
    display: flex;
    flex-direction: column;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.boards-list {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    width: 90%;
}

.boards-list li {
    cursor: pointer;
    position: relative;
    display: flex;
    background-color: #E1EFF7;
    margin: 10px auto;
    padding: 0;
    height: 35px;
    border-radius: 4px;
}

.boards-list li:hover {
    color: gray;
    background-color: #CEE4F1;
}

.boards-list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.boards-list .text {
    position: relative;
    top: -3px;
}

.boards-list .badge {
    font-size: small;
    color: white;
    background-color: #449CCF;
    height: 35px;
    width: 35px;
    border-radius: 4px 0 0 4px;
    margin: auto 0;
}

.boards-list .title {
    margin: auto 10px;
    flex: 1;
}

.remove-btn {
    margin: auto 10px;
    cursor: pointer;
}

.add-btn {
    margin-left: 14px;
    margin-top: 8px;
}

.createNewBtn {
    padding: 0 15px;
    cursor: pointer;
    color: #8c8c8c;
    font-size: 14px;
}

.createNewBtn:hover {
    color: darkgray;
}

.createNewInput {
    width: 238px;
    display: block;
    margin: auto;
    padding: 6px 5px;
    font-size: 14px;
}

.create-board-form {
    margin-top: 10px;
}

@media (max-width: 600px) {

}

@media (max-width: 1024px) {

}
