<div *ngIf="board">
    <div class="top-bar">
        <div class="top-bar-left">
            <div>{{board.title}}</div>
        </div>
    </div>

    <div class="boards-content">
        <div class="list" *ngFor="#list of board.list; #i=index;">
            <span (click)="removeList(i, board.title)" class="remove-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="title">{{list.title}}</div>
            <div class="description">{{list.description || "no description"}}</div>
            <div class="task" *ngFor="#task of list.tasks;">
                <input type="checkbox" [(ngModel)]="task.done" />
                <span (click)="removeTask(i, board.title,list.title)" class="remove-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
                <div class="title" [ngClass]="{done: task.done}">{{task.title}}</div>
                <div class="description task-description" [ngClass]="{done: task.done}">{{task.description}}</div>
            </div>

            <div *ngIf="!isTaskForm[i]" class="createNewTaskBtn" (click)="toggleTaskForm(i)">create new task...</div>
            <form class="task-form" *ngIf="isTaskForm[i]"
                  (ngSubmit)="addTask(taskTitle[i],taskDescription[i],board.title,list.title,i)">
                <input class="createNewTaskInput" [(ngModel)]="taskTitle[i]" placeholder="task title" required/>
                <input class="createNewTaskInput" [(ngModel)]="taskDescription[i]" placeholder="task description"/>
                <button class="add-btn" type="submit">Add</button>
            </form>
        </div>

        <div *ngIf="!isForm" class="createNewListBtn" (click)="toggleForm()">create new list...</div>
        <form *ngIf="isForm" class="list-form" (ngSubmit)="addList(listTitle,listDescription,board.title)">
            <input class="createNewListInput" [(ngModel)]="listTitle" placeholder="list title" required/>
            <input class="createNewListInput" [(ngModel)]="listDescription" placeholder="list description"/>
            <button class="add-btn add-list-btn" type="submit">Add</button>
        </form>
    </div>
    <!--<button (click)="goBack()">Back</button>-->
</div>