<div class="boards">
    <div class="top-bar">
        <div>boards</div>
    </div>
    <ul class="boards-list">
        <li *ngFor="#board of boards; #i = index;"
            (click)="gotoDetail(board.title)">
            <span class="badge"></span> <span class="title">{{board.title}}</span>
            <span (click)="removeBoard(i)" class="remove-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
        </li>
    </ul>
    <div class="create-board-form">
        <div *ngIf="!isForm" class="createNewBtn" (click)="toggleForm()">create new board ...</div>
        <form *ngIf="isForm" (ngSubmit)="addBoard(title)">
            <input class="createNewInput" [(ngModel)]="title" placeholder="board title" required/>
            <button class="add-btn" type="submit">Add</button>
        </form>
    </div>
</div>
